In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dates = pd.date_range("20130101", periods=6)
print("18IT092")
print(dates)

18IT092
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.rand(6,4), index=dates , columns=list("abcd"))
print("18IT092")
print(df)

18IT092
                   a         b         c         d
2013-01-01  0.464296  0.802262  0.809191  0.471662
2013-01-02  0.348132  0.801002  0.204214  0.941182
2013-01-03  0.664379  0.967877  0.123514  0.596373
2013-01-04  0.499065  0.745876  0.642714  0.516608
2013-01-05  0.766288  0.239975  0.604119  0.458936
2013-01-06  0.053276  0.909342  0.215689  0.739165

In [ ]:
df.head(4)
print("18IT092")

18IT092

In [ ]:
df.tail(2)
print("18IT092")

18IT092

In [ ]:
df.to_numpy()
print("18IT092")

18IT092

In [ ]:
df2 = pd.DataFrame(
   ...:     {
   ...:         "A": 1.0,
   ...:         "B": pd.Timestamp("20130102"),
   ...:         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
   ...:         "D": np.array([3] * 4, dtype="int32"),
   ...:         "E": pd.Categorical(["test", "train", "test", "train"]),
   ...:         "F": "Nil",
   ...:     }
   ...: )
   ...: 

print("18IT092")
print(df2)

18IT092
     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  Nil
1  1.0 2013-01-02  1.0  3  train  Nil
2  1.0 2013-01-02  1.0  3   test  Nil
3  1.0 2013-01-02  1.0  3  train  Nil

In [ ]:
print(df2.to_numpy())
print("18IT092")

[[1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'Nil']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'Nil']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'Nil']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'Nil']]
18IT092

In [ ]:
print(df2.dtypes)
print("18IT092")

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object
18IT092

In [ ]:
print(df.loc["20130102":"20130104", ["a", "b"]])
print("18IT092")

                   a         b
2013-01-02  0.348132  0.801002
2013-01-03  0.664379  0.967877
2013-01-04  0.499065  0.745876
18IT092

In [ ]:
print(df.loc[:,"a"])
print("18IT092")

2013-01-01    0.464296
2013-01-02    0.348132
2013-01-03    0.664379
2013-01-04    0.499065
2013-01-05    0.766288
2013-01-06    0.053276
Freq: D, Name: a, dtype: float64
18IT092

In [ ]:
print(df.iloc[3:5, 0:2])
print("18IT092")

                   a         b
2013-01-04  0.499065  0.745876
2013-01-05  0.766288  0.239975
18IT092

In [ ]:
from google.colab import drive
print("18IT092")
drive.mount("/content/drive",force_remount=True)

18IT092
Mounted at /content/drive

In [ ]:
df.to_csv("/content/drive/My Drive/Colab Notebooks/MLA/first.csv")

In [ ]:
print(pd.read_csv("first.csv"))
print("18IT092")

   Unnamed: 0         a         b         c         d
0  2013-01-01  0.212014  0.337862  0.347620  0.952997
1  2013-01-02  0.444135  0.203636  0.222752  0.654758
2  2013-01-03  0.717384  0.780260  0.371370  0.013841
3  2013-01-04  0.785025  0.052537  0.836108  0.488761
4  2013-01-05  0.094765  0.732399  0.916948  0.689836
5  2013-01-06  0.475532  0.200124  0.120508  0.703155
18IT092

In [ ]:
print(df.describe() )
print("18IT092")

              a         b         c         d
count  6.000000  6.000000  6.000000  6.000000
mean   0.465906  0.744389  0.433240  0.620654
std    0.250941  0.260056  0.286402  0.187909
min    0.053276  0.239975  0.123514  0.458936
25%    0.377173  0.759658  0.207082  0.482898
50%    0.481681  0.801632  0.409904  0.556491
75%    0.623051  0.882572  0.633065  0.703467
max    0.766288  0.967877  0.809191  0.941182
18IT092